@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;500&display=swap');

body {
    font-family: 'Trispace', sans-serif;
    font-weight: 300;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
}